/* nav styles */

nav {
    display: flex;
    background-color: beige;
    justify-content: space-between;
}

nav .logo img {
    width: auto;
    height: 90px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 10px;
    color: navy;
    list-style: none;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
}