/* nav styles */

nav {
    display: flex;
    background-color: #f3cf7a;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

nav .logo img {
    width: auto;
    height: 90px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 5px;
    color: navy;
    list-style: none;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* product style */

.products {
    width: 420px;
    height: 600px;
    border: 1px solid black;
    box-shadow: 0 7px 10px 0 grey;
    margin: 5px;
    /* border-radius: 50px; */
}

#prod-container {
    background-color: #acaeb2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 5px; */
    justify-content: center;
    align-items: center;
}

.products img {
    width: 420px;
    height: auto;
}

.prod-text h4 {
    display: flex;
    justify-content: center;
}

.prod-text p {
    display: flex;
    text-align: center;
    margin: 5px;
}


/* footer Styles */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #6e3b3b;
    height: 15vh;
    font-size: 20px;
}

.container .form2 input,
button {
    height: 25px;
    border-radius: 5px;
    margin: 5px;
}

.container .form2 input {
    width: 300px;
}


/* About us styles */

#About-us {
    background-color: #e6c073;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    border-radius: 50px 0 100px 0;
    box-shadow: 0 7px 10px 0 black;
}

#About-text p,
h2,
h3,
blockquote {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* contact style */

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    height: 60vh;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
}

.form-container input {
    width: 300px;
    height: 20px;
    margin: 20px 0 0 5px;
}

.form-container textarea {
    margin: 5px;
    width: 300px;
    height: 200px;
}

.map {
    margin: 10px;
}

iframe {
    width: 900px;
    height: 350px;
    margin: 5px;
}

#contact .class iframe {
    width: 700px;
    height: auto;
}